include/GL/**/* linguist-vendored
include/GLFW/**/* linguist-vendored
include/tinyobjloader/**/* linguist-vendored
obj3d/mlx_opengl.h linguist-vendored
*.obj linguist-vendored
*.mtl linguist-vendored
